##################################
#         SISTEMA OPERACIONAL    #
##################################

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
.apdisk
*.icloud

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

##################################
#              JAVA              #
##################################

*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.log
*.ctxt
hs_err_pid*
replay_pid*

##################################
#              MAVEN             #
##################################

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/*
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar

# Não ignorar os arquivos do Maven Wrapper
!mvnw
!mvnw.cmd

##################################
#             DOCKER             #
##################################

docker-compose.override.yml
**/docker-compose.override.yml
**/Dockerfile.*
*.env
.certs/
.quarkus/

##################################
#           CONFIG FILES         #
##################################

application-local.yml
application-dev.yml
application-secrets.yml
.env

!application.yml
!application.yaml
!application.properties

##################################
#        DATABASE LOCAIS         #
##################################

*.h2.db
*.mv.db
*.der

##################################
#          MENSAGERIA            #
##################################

kafka-logs/
zookeeper-logs/
rabbitmq-data/

##################################
#             IDEs               #
##################################

# IntelliJ IDEA
.idea/**/*
!.idea/misc.xml
!.idea/modules.xml
!.idea/compiler.xml
!.idea/jarRepositories.xml
!.idea/runConfigurations/

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources*
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/replstate.xml
.idea/sonarlint/
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.idea/codestream.xml
.idea/**/azureSettings.xml
.idea/sonarIssues.xml

# .iml - geralmente ignorado, mas pode ser versionado se preferir
*.iml

# Eclipse
.project
.classpath
.settings/
.metadata/
tmp/
.loadpath
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.apt_generated_test/
.cache-main
.scala_dependencies
